<h1>Create a character</h1>
<form action="/characters" method="post">
  Character: <input type="text" name="name">
  Actor: <input type="text" name="actor">
  TV Show: <input type="text" name="tv_show">
  <input type="submit" name="" value="submit">

</form>
