<form action="/characters" method="POST">
  <label for="">character name</label>
  <input type="text" name="name">
  <label for=""> Actor name </label>
  <input type="text" name="actor_name">
  <label for=""> Tv show name name </label>
  <input type="text" name="tv_show_name">
  <input type="submit" value="create a character">
</form>
