<<<<<<< HEAD
<h1>Create a character</h1>
<form action="/characters" method="post">
  Character: <input type="text" name="name">
  Actor: <input type="text" name="actor">
  TV Show: <input type="text" name="tv_show">
  <input type="submit" name="" value="submit">

=======
<form action="/characters" method="POST">
  <label for="">character name</label>
  <input type="text" name="name">
  <label for=""> Actor name </label>
  <input type="text" name="actor_name">
  <label for=""> Tv show name name </label>
  <input type="text" name="tv_show_name">
  <input type="submit" value="create a character">
>>>>>>> f7c559a570581ac6b6341ccab99621c53d90b3cc
</form>
