<<<<<<< HEAD
<h1><%=@character.name%></h1>
=======
Character: <%= @character.name %>

<% @characters.each do |character| %>
  <%= character.name %>
<% end %>
>>>>>>> f7c559a570581ac6b6341ccab99621c53d90b3cc
